# [Created by task 3.1.0 10/28/2024 05:05:24]

data.location={{.chezmoi.homeDir}}/.task
news.version=3.1.0
report.next.lines=0
report.next.filter=status:pending -WAITING
report.all.sort=entry+
report.next.sort=entry+
