[[ $- != *i* ]] && return

if [[ -d ~/.bash_core ]]; then
    for script in ~/.bash_core/* ; do
        [[ -r "$script" ]] && source "$script"
    done
fi

if command -v fcitx5 >/dev/null 2>&1; then
    export GTK_IM_MODULE=fcitx
    export QT_IM_MODULE=fcitx
    export XMODIFIERS=@im=fcitx
    export INPUT_METHOD=fcitx
fi

HISTSIZE=200000
HISTFILESIZE=500000
export HISTCONTROL=ignorespace
# bundled sync history file + rev history search
bind '"\C-g": "\C-e\C-uhistory -n\C-m\C-r"'
shopt -s histappend
shopt -s cmdhist


export CARGO_TARGET_DIR={{ get . "cargo_target_dir" | default "$HOME/cargo_targets" | quote }}
export CARGO_HOME={{ get . "cargo_home" | default "$HOME/.cargo" | quote }}
export EDITOR={{ get . "editorpath" | default "nvim" | quote }}
export QMK_HOME="${HOME}/git/qmk_parent/qmk"
export PATH="$HOME/.local/bin:$HOME/.local/scripts:$CARGO_HOME/bin:$HOME/local/bin:$HOME/go/bin:$PATH"
export SYSTEMD_PAGER=
export CMAKE_EXPORT_COMPILE_COMMANDS=ON

if [[ -z "$ZELLIJ" ]] && [[ -z "$SSH_CONNECTION" ]]; then
    if [[ "$ZELLIJ_AUTO_ATTACH" == "true" ]]; then
        zellij attach -c
    else
        zellij
    fi
    if [[ "$ZELLIJ_AUTO_EXIT" == "true" ]]; then
        exit
    fi
fi

avr_dg() {
    sudo pacman -U /var/cache/pacman/pkg/avr-gcc-8.3.0-1-x86_64.pkg.tar.xz
}

[[ -f ~/.bashrc.local ]] && source ~/.bashrc.local
