{{- $distro := .chezmoi.osRelease.id -}}
{{- $ver := default "" (index .chezmoi.osRelease "version_id") -}}
{{- if and (eq $distro "centos") (eq $ver "7") -}}
{{ include "dircolors/centos7.tmpl" }}
{{- else -}}
{{ include "dircolors/arch.tmpl" }}
{{- end -}}

