return {
    "obsidian-nvim/obsidian.nvim",
        version = "*",
        ft = "markdown",
        ---@module 'obsidian'
            ---@type obsidian.config
            dependencies= {
                {
                    "MeanderingProgrammer/render-markdown.nvim",
                    ft = "markdown",
                    dependencies = { 'nvim-treesitter/nvim-treesitter', 'nvim-mini/mini.nvim' },
                    opts = {},
                },
            },
        opts = {
            legacy_commands = false,
            workspaces = {
                {
                    name = "personal",
                    path = "{{ default "/apps/obsidian/myvault" .notes_dir }}",
                }
            },
            daily_notes = {
                folder = "todos"
            },
            checkbox = {
                order = { " ", ">", "x" },
            },
        },
        config = function(_, opts)
            require("obsidian").setup(opts)


        vim.keymap.set("n", "<leader>od", "<cmd>Obsidian today<cr>", { silent = true })
        vim.keymap.set("n", "<leader>oy", "<cmd>Obsidian yesterday<cr>", { silent = true })
        vim.keymap.set("n", "<leader>ot", "<cmd>Obsidian tomorrow<cr>", { silent = true })
        vim.keymap.set("n", "<leader>oD", "<cmd>Obsidian dailies<cr>", { silent = true })
        vim.keymap.set("n", "<leader>oo", "<cmd>Obsidian quick_switch<cr>", { silent = true })
        vim.keymap.set("n", "<leader>os", "<cmd>Obsidian search<cr>", { silent = true })
        vim.keymap.set("n", "<leader>ob", "<cmd>Obsidian backlinks<cr>", { silent = true })
        vim.keymap.set("n", "<leader>on", "<cmd>Obsidian create<cr>", { silent = true })
        vim.keymap.set("v", "<leader>ol", "<cmd>Obsidian link<cr>", { silent = true })
    end,
}
